h1 {
  font-size: 20px;
}

h1.maintitle {
  color: red;
}

nav {
  background-color: #cecece;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
}

nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li> a.active {
  background-color: white;
}

nav a:hover {
  color: black;
}

ul > li > a {
  color: blue;
}

ul > li > a:hover {
  color: white;
}